/*Responsivness using media query*/

@media only screen and (max-width:767px) {
    .contact-us-container {
        margin: 20px 0px;
    }
    .nav-li a {
        padding-right: 0px;
    }
    .nav-ol {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-container {
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 5px;
    }
    .form-hr {
        display: none;
    }
    .login-modal-content {
        width: 90%;
    }
    .signin-content-container {
        width: 90%;
    }
    /*Payment page style */
    .progress-line {
        width: 70vw;
    }
    .personal-info-form-container,
    .payment-form-container {
        margin: auto;
        width: 80%;
    }
    .circle:not(:last-of-type)::after {
        transform: translateX(-50%);
        width: calc(100vw/3);
    }
    /* Cart and Search Style*/
    .serach-cart-container {
        grid-template-columns: repeat(4, auto);
        padding: 7px 15px;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #e4e8eb;
        margin-top: 0;
    }
    .logo {
        text-align: initial;
    }
    .logo img {
        width: 70%;
    }
    /* search block */
    .search {
        height: 35px;
    }
    /* cart block */
    .cart {
        width: 35px;
        height: 35px;
        display: inline-block;
    }
    .cart .cart__icon {
        width: 92%;
    }
    /* advertisement block */
    .advertisement {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .advertisement .advertisement__item--main {
        grid-column: span 2;
    }
    /* Card*/
    .card {
        min-width: 25%;
    }
    .card--86w {
        width: 75%;
        margin: auto;
    }
    .imges {
        display: none;
    }
    .images-book .card .card__img {
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    main {
        padding: 0;
    }
    section {
        padding-top: 20px;
    }
    .book-type h1 {
        font-size: 16px;
    }
    .header {
        padding: 0px 30px 0;
    }
    .header .header__title {
        font-size: 18px;
    }
    .header .header__link {
        left: 20px;
    }
    /* navegation desktop block */
    .nav {
        display: none;
    }
    /* header grid */
    .top-header {
        grid-template-columns: repeat(4, auto);
        padding: 7px 15px;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #e4e8eb;
        margin-top: 0;
    }
    #nav {
        display: block;
    }
    .logo {
        text-align: initial;
    }
    .logo img {
        width: 70%;
    }
    /* search block */
    .search {
        height: 35px;
    }
    /* cart block */
    .cart {
        width: 35px;
        height: 35px;
        display: inline-block;
    }
    .cart .cart__icon {
        width: 92%;
    }
    /* banner block */
    .unit__item {
        height: 10px;
        width: 10px;
    }
    .prev,
    .next {
        font-size: 37px;
    }
    /* advertisement block */
    .advertisement {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .advertisement .advertisement__item--main {
        grid-column: span 2;
    }
    /* category block */
    .category .category__item {
        min-width: 15%;
    }
    /* book block */
    .book-title .book-title__item {
        font-size: 12px;
    }
    .book-price .book-price__price {
        font-size: 25px;
    }
    .book-price {
        margin-top: 0;
    }
    .book-link {
        font-size: 12px;
    }
    /* footer */
    section.footer {
        grid-template-columns: 1fr;
    }
    .box .box__item {
        display: none;
    }
    /* model */
    .model {
        width: 60%;
        left: 20%;
        right: 20%;
        top: 5%;
    }
    /* details page */
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid>.buy-info {
        grid-column: span 2;
    }
    .buy-info .card--90w {
        width: 100%;
        margin-right: 0;
    }
    .details {
        padding: 0 40px;
    }
    .details__text {
        font-size: 14px;
    }
    .radio {
        top: 5px;
        right: 0;
        height: 20px;
        width: 20px;
    }
    .radio::after {
        top: 5px;
        right: 5px;
        width: 9px;
        height: 9px;
    }
    .note {
        width: 100%;
    }
    .btn--blue {
        width: 20%;
    }
    .category--gap-36 {
        gap: 15px;
    }
    .share {
        width: 85%;
        gap: 15px;
    }
    .grid--2-column {
        grid-template-columns: 1fr;
    }
    .grid--2-column .card--90w {
        width: 80%;
        margin: 20px auto;
    }
    .grid--2-column .card .header {
        padding: 0;
    }
    /* category page */
    .grid-category {
        grid-template-columns: 1fr;
    }
    /* footer */
    footer>article {
        flex-direction: column;
        gap: 20;
    }
    footer>article>.credit {
        width: 100%;
    }
    /* model */
    .model {
        overflow-y: auto;
        -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    }
    .model__img {
        height: 60vh;
        width: 37.5%;
    }
    .model__img>img {
        width: 100%;
    }
    /* cart page */
    .header--cart {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        min-width: 25%;
    }
    .menu__item .logo-menu img {
        width: 65%;
    }
    /* model */
    .model {
        width: 70%;
        left: 15%;
        right: 15%;
    }
    /* details pag */
    .grid {
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 32px;
    }
    .images-book,
    .details-book {
        grid-column: span 2;
    }
    .card--86w {
        width: 75%;
        margin: auto;
    }
    .imges {
        display: none;
    }
    .images-book .card .card__img {
        width: 80%;
    }
    section.details-book {
        padding-top: 0;
        text-align: center;
    }
    .book-type--start {
        justify-content: center;
    }
    .details__item {
        align-items: center;
        gap: 3px;
        padding-top: 5px;
    }
    .row {
        justify-content: center;
    }
    .row .row__item {
        width: 26%;
        padding: 4px 0px 0 0;
    }
    .btn--blue {
        width: 26%;
    }
    .grid--2-column .card--90w {
        width: 100%;
        margin: 20px auto;
    }
    .grid--2-column .card .header {
        padding: 0;
    }
    /* category page */
    .grid-category .card {
        min-width: 23%;
    }
    /* .category--gap {
        gap: 17px;
    } */
    /* model */
    .model__img {
        width: 59.5%;
    }
    #model__img .imges {
        display: block;
    }
    #model__img .imges .img__item {
        width: 10%;
        margin: 10px 12px;
    }
}

@media only screen and (max-width: 576px) {
    #menu_nav {
        position: absolute;
        width: 100%;
        top: 120px;
        background-color: white;
        display: none;
    }
    #mobile_nav {
        display: block;
    }
    .main-header {
        top: -20px;
    }
    .nav-li:last-child {
        direction: ltr;
    }
    h1 {
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
    .card {
        min-width: 50%;
    }
    /* banner block */
    .unit {
        width: 88%;
    }
    .unit__item {
        height: 7px;
        width: 7px;
    }
    .prev,
    .next {
        font-size: 25px;
    }
    /* header */
    .top-header>form {
        position: relative;
        right: 30%;
    }
    /* category block */
    .category .category__item {
        min-width: 25%;
        margin: 0 8px;
        padding: 8px 5px 14px;
    }
    .category .category__title {
        font-size: 16px;
    }
    .category .category__img {
        width: 40%;
    }
    .logo img {
        width: 100%;
    }
    .menu__item .logo-menu img {
        width: 75%;
    }
    /* model */
    .model {
        width: 90%;
        left: 5%;
        right: 5%;
    }
    /* details page */
    .link {
        padding: 15px 2px 0;
        gap: 0;
    }
    .link .link__item .link__link {
        font-size: 12px;
    }
    .link .link__item {
        margin-right: 5px;
    }
    .link .link__item::after {
        margin-right: 10px;
        font-size: 9px;
    }
    .book-type.book-type--start h1 {
        font-size: 22px;
    }
    .book-price .book-price__price--large {
        font-size: 36px;
    }
    .book-price .book-price__price {
        font-size: 16px;
    }
    .row .row__item {
        width: 39%;
    }
    .book-link {
        margin-top: 10px;
    }
    /* .share {
        width: 85%;
        gap: 15px;
    } */
    .specifications {
        font-size: 15px;
    }
    .specifications__td {
        padding: 0;
        width: 155px;
    }
    .header .header__title--blue {
        margin-bottom: 12px;
    }
    .grid--2-column .header .header__title--blue {
        font-size: 14px;
    }
    .flex__right>p {
        font-size: 11px;
    }
    /* category page */
    .grid-category .card {
        width: 32%;
    }
    .grid-category .card {
        min-width: 48%;
    }
    .select {
        padding-right: 20px;
        flex-direction: column;
        text-align: left;
    }
    .select>form,
    .select>div {
        width: 100%;
    }
    /* model */
    .model__img {
        width: 71.5%;
    }
    .model__img>img {
        width: 100%;
    }
    /* counter */
    .counter span {
        padding: 1px;
        width: 25px;
    }
}